/* Header */

header {
	background-color: rgb(5, 113, 108);
	box-shadow: -0px 10px 25px rgb(44, 43, 43);
	border-bottom: 5px solid rgb(95, 191, 184);
	width: 100%;
	height: 90px;
	display: flex;
	align-items: center;
	justify-content: center;
}
img{
	height: 75px;
	
}
form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 50%;
	margin: 0 auto;
	padding: 50px;
}

h2 {
	font-weight: 1500;
	font-family: arial;
	color: rgb(255, 255, 255);
	margin: 10px;

}
h3 {
	font-weight: 1500;
	font-family: arial;
	color: rgb(255, 255, 255);
	text-align: center;
}
label {
	background-color: rgb(217, 217, 217);
}

/* Balise pour les titres dans le header */

h1{
	font-weight: 100;
	font-family: arial;
	color: rgb(255, 255, 255);
	margin-right:33.5cm;
}

/* Bouton submit sondage */

#boutonSubmitQuizz{
	background-color: rgb(217, 217, 217);
	border: none;
	color: white;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	border-radius: 50px;
}

/* Bouton passser le psychoQuizz */

#boutonPasserQuizz {
	border: 5px solid #A7A7A7;
	height: 100px;
	width: 600px;
	background-color: #D9D9D9; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	border-radius: 50px;
	text-align: center;
  }
  #boutonPasserQuizz:hover {
	background-color: rgb(5, 113, 108);
  }

  /* Bouton accès def du PsychoQuizz */

  #boutonDefQuizz {
	border: 5px solid #e0e0e0;
	height: 60px;
	width: 400px;
	background-color: #b4b4b4; 
    position: absolute;
    top: 41%;
    left: 60%;
    transform: translate(-50%, -50%);
	border-radius: 50px;
	text-align: center;
	line-height: 0px;
  }
  #boutonDefQuizz:hover {
	background-color: rgb(5, 113, 108);
  }

/* Footer */

footer {
	position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: rgb(5, 113, 108);
    color: white;
	border-top: 5px solid rgb(95, 191, 184);
	box-shadow: -0px 10px 50px rgb(32, 31, 31);
  }

/* Rectangle central qui contient le contenu de la balise form */

.container-origine {
	width: 600px;
	height: 350px;
    background-color: rgb(95, 191, 184); 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	border-radius: 10px;
	text-align: center;
}
label {
    background-color: rgb(95, 191, 184); 
    padding: 6px 12px;
    border-radius: 4px;
    margin-bottom: 10px;
	color: rgb(255, 255, 255);
  }

/* Menu déroulant origine (Couleurs, emplacement...) */

  select {
    padding: 6px 12px;
    border-radius: 5px;
    border: none;
    background-color: rgb(255, 255, 255);
	width: 300px;
  }
  option {
    background-color: white;
    color: black;
  }